.photos-container {
  width: initial;
}

.photos-card {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.5rem 1.5rem;
  border-radius: 1rem;
  margin-top: var(--mb-1);
  margin-bottom: var(--mb-3);
  box-shadow: 0 0 12px #037fd1;
}

.photos-img {
  width: 450px;
  margin-bottom: var(--mb-1);
  border-radius: 0.75rem;
}

.photos-name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-25);
}

/* Swiper Class */
.swiper-pagination-bullet {
  background-color: var(--text-color) !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--title-color) !important;
}

