.basicskills-container {
  grid-template-columns: repeat(2, 350px);
  column-gap: 3rem;
  justify-content: center;
}

.basicskills-content {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem 2rem;
  border-radius: 1.25rem;
  box-shadow: var(--box-shadow);
}

.basicskills-title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  text-align: center;
  margin-bottom: var(--mb-1-5);
}

.basicskills-box {
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
}

.basicskills-group {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: flex-start;
  row-gap: 1rem;
  column-gap: 2.5rem;
}

.basicskills-data {
  display: flex;
  column-gap: 0.5rem;
}

.basicskills-name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 18px;
}

.basicskills .icon {
  font-size: 1rem;
  color: var(--title-color);
}

/*  large */
@media screen and (max-width: 992px) {
  .basicskills-container {
      grid-template-columns: max-content;
      row-gap: 2rem;
  }
}

/* medium */
@media screen and (max-width: 576px) {
  .basicskills-container {
      grid-template-columns: 1fr;
  }

  .basicskills-content {
      padding: 1.5rem;
  }
}

/* small */
@media screen and (max-width: 350px) {
  .basicskills-box {
      column-gap: 1.25rem;
  }

  .basicskills-name {
      font-size: var(--small-font-size);
  }
}
