.skills-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: var(--mb-2);
}

.skills-button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
  margin: 0 var(--mb-1);
  cursor: pointer;
}
