text {
  stroke: #000000;
  font-size: 50px;
  font-weight: 700;
  stroke-width: 1;
  animation: textAnimate 5s infinite alternate;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset:  20%;
    fill:hsl(204, 100%, 50%)

  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: hsla(189, 68%, 75%,0%)
  }

}

/* Ipads */
@media screen and (max-width: 768px) {
  text {
    stroke: #000000;
    font-size: 35px;
    font-weight: 700;
    stroke-width: 1;
    animation: textAnimate 5s infinite alternate;
  }
}
