text {
  stroke: #000000;
  font-size: 50px;
  font-weight: 700;
  stroke-width: 1;
  animation: textAnimate 4s infinite alternate;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset:  20%;
    fill:#0099ff

  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: hsla(189, 68%, 75%,0%)
  }

}

@media screen and (max-width: 992px) {
  text {
    font-size: 40px;
    font-weight: 700;
    stroke-width: 0.5;
  }
  svg {
    width: 100%;
    height: 40%;
  }
}
/* Ipads */
@media screen and (max-width: 820px) {
  text {
    font-weight: 700;
    stroke-width: 0.5;
  }
}
@media screen and (max-width: 420px) {
  text {
    font-size: 25px;
    font-weight: 700;
  }
}
